.navbar {
    background-color: #222935;
    left: 0;
    top: 0;
    min-height: 100vh;
    z-index: 1;
    position: fixed;
    width: 250px;
    transform: translateX(-100%);
    transition: 0.5s;
    @media (max-width: 600px) {
        width: 54px;
    }
    & > button {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222935;
        color: white;
        position: absolute;
        right: -30px;
        border-radius: 0 5px 6px 0;
        top: 20px
    }
    & > a {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-70%, -50%);
        @media (max-width: 600px) {
            transform: translate(-50%, -50%);
        }
        & > button {
            display: flex;
            align-items: center;
            color: white;
            justify-content: center;
            & svg {
                margin: 10px;
            }
            & span {
                @media (max-width: 600px) {
                    display: none;
                }
            }
            &:hover {
                @media (max-width: 600px) {
                    background-color: #26C17E;
                    color: white;
                    width: 40px;
                    border-radius: 10px;
                }
                color: #26C17E;
            }
        }

    }
}

.navbar_active {
    transform: translateX(0%);
}
