.timeline {
    min-height: 30vh;
    max-height: 80vh;
    overflow: auto;
    & > ul {
        position: relative;
        padding: 15px;
        &:before {
            background: #26c17e;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10px;
            width: 4px;
            content: "";
            margin-left: 18px
        }
        & li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
            &:last-child {
             margin: 0;
            }
        }
    }
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
        color: red;
    }
}

.icon {
    width: 30px;
    height: 30px;
    color: #26C17E;
    animation: rotateClockwise 2s infinite linear;
}

@keyframes rotateClockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}