.timelineDate {
    padding: 15px;
    background: #fff;
    position: relative;
    left: -15px
}

.timelineEvent {
    position: relative;
    background-color: #EEEEEE;
    padding: 0 10px;
    &:after {
        content: "";
        position: absolute;
        top: 15px;
        left: -10px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #eee
    }
}
