.container {
    * {
        margin: 10px 0;
        text-align: center;
        color: white;
        z-index: 1;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    & > img {
        width: 100px;
        border-radius: 100%;
        border: 1px solid white;
        @media (max-width: 600px) {
            width: 40px;
        }
    }
    & > p {
        width: 80%;
    }
    & > a > button {
        background-color: #222935;
        padding: 10px 20px;
        color: white;
        border-radius: 6px;
        &:hover {
            background-color: #26C17E;
        }
    }
    & h3 {
        @media (max-width: 600px) {
            display: none;
        }
    }
}

.big {
    width: 163px!important;
}

