.section {
    .top {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
    }
    .filterContainer {
        margin: 0;
        padding: 0;
        display: flex;
        .figure {
            width: 308px;
            height: 180px;
            margin: 0 0 15px 0;
            position: relative;
            overflow: hidden;
            figcaption {
                height: 197px;
                overflow: auto;
                position: absolute;
                left: 0;
                padding: 20px 15px;
                background: rgba(255, 255, 255, 0.95);
                border: 1px solid #ddd;
                box-sizing: border-box;
                top: 100%;
                transition: all 0.5s ease 0s;
                b {
                    color: #26C17E;
                }
                a {
                    font-size: 14px;
                    color: #26C17E;
                    text-decoration: underline;
                }
            }
            & img {
                width: 100%;
                display: block;
            }
            &:hover figcaption {
                top: 0;
            }
        }
    }
}

.green {
    color: #26C17E!important;
}
