.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-bottom: 1px solid black;
  .line {
    position: relative;
    width: 1px;
    height: 10px;
    background-color: black;
    & span {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 5px;
      white-space: nowrap;
      font-size: 12px;
      color: #667081;
    }
    &:last-child > span {
      transform: translateX(-100%);
    }
    &:first-child > span {
      transform: translateX(0%);
    }
  }
}

