.form {
  border: 1px solid #26C17E;
  width: 100%;
  .label {
    display: flex;
    align-items: center;
    & > input {
      padding-left: 10px;
      height: 40px;
      border-radius: 6px;
      border: 1px solid black;
    }
  }
  .label * {
    margin: 15px;
  }
  & > button {
    margin: 15px;
    height: 40px;
    background-color: #26C17E;
    color: white;
    cursor: pointer;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    &:active {
      background: #222935;
    }
  }
  & > p {
    margin: 0 15px;
  }
}

.errorInput {
  color: red!important;
  outline: 1px solid red!important;
  border: none!important;
}

.errorText {
  color: red;
}

.disabled {
  background-color: gray!important;
}