.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & > button {
    background-color: #26C17E;
    color: white;
    height: 25px;
    margin: 25px 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    & > svg {
      margin-right: 10px;
    }
    &:active{
      background-color: #222935;
    }
  }
}

.level {
  display: flex;
  align-items: center;
  height: 30px;
  margin: 10px 0;
  background-color: #26C17E;
  padding: 15px;
  color: white;
}