.ul > li {
  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
  }
  & a {
    color: #667081;
    display: flex;
    align-items: center;
    & svg {
      margin: 20px;
      width: 14px;
    }
    & p {
      font-size: 16px;
      @media (max-width: 600px) {
        display: none;
      }
    }
    &:hover {
      color: #26C17E;
    }
  }
}