.card {
    & > p {
        background-color: #EEEEEE;
        padding: 15px;
    }
    & div {
        display: flex;
        flex-direction: row;
        align-items: center;
        & img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            margin-right: 20px;
        }
        & > p > a {
            color: #26C17E;
        }
    }
}