.li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    .divLeft {
        min-width: 100px;
        p {
            margin: 0;
            color: #667081;
            font-size: 16px;
        }
    }
}
