@import "~normalize.css/normalize.css";

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px;
}


h2 {
    color: #26C17E;
    margin: 40px 0;
}

p {
    font-size: 14px;
}

ul {
    padding: 0;
    list-style-type: none;
}

button {
    all: unset;
}

a {
    text-decoration: inherit;
    color: inherit;
}