.li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  & svg {
    width: 30px;
    height: 30px;
    color: #26C17E;
  }
  & a {
    margin: 0 20px;
    & p {
      margin: 0;
      color: #667081;
    }
  }
  & a:hover {
    color: #26C17E;
  }
}
